* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: rgb(40, 37, 78);
}

/* //common calss edit below */

.amount,
.currency,
.lebels,
.converter,
.button,
.result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.conatiner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub_conatiner {
  width: 500px;
  height: 600px;
  background-color: rgb(61, 58, 92);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.header {
  width: 300px;
  height: 250px;
  /* background-color: rgb(40, 37, 78); */
  background-color: rgb(61, 58, 92);
  color: thistle;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  border-radius: 10px;
}
.header h3 {
  font-size: 40px;
}
.header p {
  font-size: 18px;
  color: rgb(148, 145, 145);
}
.header img {
  width: 100px;
  height: 100px;
}
.converter {
  width: 400px;
  height: 500px;
  background-color: rgb(40, 37, 78);
  margin-top: 20px;
  border-radius: 10px;
  flex-direction: column;
  margin-bottom: 30px;
}
.lebels {
  width: 90%;
  height: 30px;
  /* background-color: rgb(61, 58, 92); */
}
.lebels label {
  font-size: 20px;
  font-weight: bolder;
  color: thistle;
  width: 150px;
}
.currency {
  width: 90%;
  height: 90px;
  background-color: rgb(61, 58, 92);
  border-radius: 10px;
  margin: 10px;
}
.amount {
  width: 90%;
  height: 70px;
  background-color: rgb(40, 37, 78);
  border-radius: 10px;
  margin: 10px;
  flex-direction: column ;
}
.amount p {
  color: rgb(248, 2, 2);
  font-size: 15px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
select {
  width: 150px;
  height: 30px;
  font-size: 10px;
  font-weight: bolder;
  border: none;
  background-color: rgb(177, 177, 190);
  color: #19052c;
  border-radius: 4px;
}
input[type="text"] {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  background-color: rgb(177, 177, 190);
  border-radius: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(26, 20, 20);
  text-transform: capitalize;
}
input[type="text"]:focus {
  outline: none;
  border: 2px solid rgb(3, 143, 96);
}
input[type="text"]:hover {
 transform: scale(1.01);
  transition: all 0.5s ease-in-out;
}
.button {
  width: 90%;
  height: 30px;
  /* background-color: rgb(61, 58, 92); */
}
button {
  width: 100px;
  height: 100%;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  background-color: rgb(3, 143, 96);
  color: #03115e;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(14, 122, 86);
  border: none;
   transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}
button:active {
  transform: scale(0.8);
  transition: all 0.5s ease-in-out;
  border: none;
}
.result {
  width: 90%;
  height: 50px;
  background-color: rgb(61, 58, 92);
  border-radius: 10px;
  margin: 10px;
  color: thistle;
  font-size: 20px;
  font-weight: bolder;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translatex(5%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translatex(0);
}

/* //to make it responsive  */

@media(max-width:400px){
.sub_conatiner {
  width: 300px;
}
.converter {
  width: 300px;
  margin-left: 15px;
}
.lebels label {
  font-size: 15px;
}
.currency {
  height: 50px;
}
select {
  width: 100px;
  height: 20px;
}
option{
  font-size: 12px;
}
input[type="text"] {
  width: 270px;
  height: 30px;
  font-size: 12px;
  border: 2px;
  border-color: rgb(19, 22, 212);
}
.result{
  font-size: 15px;
}
}
@media(max-width:230px){

}
